<div ng-app="dummy_ang_module" ng-controller="CodeController">
    <div class="top-part">
        <div class='header'>
          Dummy Data Generator
        </div>
        <div class="options" >
          <%= link_to_function "C", "window.myCodeMirror.setOption('mode','text/x-csrc');alert('put into C mode');", :class=>"option_language" %>
          <%= link_to_function "SQL", "alert('parse using SQL')", :class=>"option_language" %>
          <%= link_to_function "C++", "window.myCodeMirror.setOption('mode','text/x-c++src');alert('put into C++ mode');", :class=>"option_language" %>
          <%= link_to_function "C#", "window.myCodeMirror.setOption('mode','text/x-csharp');alert('put into C# mode');", :class=>"option_language" %>
          <%= link_to_function "Pascal", "alert('parse
           using Pascal')", :class=>"option_language" %>
          <%= link_to_function "Java", "alert('parse using Java')", :class=>"option_language" %>
          <%= link_to_function "Ruby", "window.myCodeMirror.setOption('mode','ruby');alert('put into ruby mode');", :class=>"option_language" %>
          <%= link_to_function "Python", "alert('parse using Python')", :class=>"option_language" %>
        </div>
    </div>

    <div class="top-part">
        <div class="code_structure" >
           <div>
            <%= link_to_function "Create your own class", "alert('pop up your class creator')"  %>
             <div class="clear"></div>
                <div class="codemirror_container">
                <%= text_area_tag :text,
                  " Class exampleClass()
                  {
                    string ArtistName;
                    string AlbumName;
                    Int AlbumYear;
                    Int TrackCount;
                  }
                   ", rows:10, cols:97, :code_mirror => "C", :id => "mytextarea" %>
                </div>
            </div>
           <div class="button_container">
             <%= button_tag "Generate","ng-click" => "generatedata()", :onClick => "alert('result show when this click');$('.result_hidden').show()", :class=>"button_gray" %>
           </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom-part">
        <div class="result_hidden">
        <div class="data_option">
          Data Count <%= text_field_tag "value",100 , :class => "data_count" %>
          <%= link_to_function "Close Option X", "",:class => "close_link","ng-click" => "givebacksomething()",
          "data-target-url" => "get_field" %>

          <div class="field_option nav-collapse" id="field_option">
            <ul ng-repeat="field in fields">
              <li>
                <span>{{field.name}} </span>
                <span> <%= text_field_tag "varchar","{{field.type}}" %> </span>
                <span> <%= text_field_tag "value","{{field.length}}" %> </span>
                <span> <%= text_field_tag "value","{{field.theme}}" %> </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <div class="result_generated">
          <!--<div class="result_option">-->
            <!--| <%= link_to_function "Copy to clipboard", "alert('result copied')" %> |-->
            <!--| <%= link_to_function "Download file", "alert('choose your folder')" %> |-->
          <!--</div>-->
          <br>
          <div class="clear"> </div>
          <div class="results">
          <pre>{{dummy_data_for_user}}</pre>
          </div>
          <div class="button_container">
          <%= button_tag "Copy to Clipboard", :onClick => "$('pre').select()", :class=>"button_gray" %>
          <%= button_tag "Download", :onClick => "this.select()", :class=>"button_white" %>
          </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
        //$(".result_hidden").hide();
    </script>