<div ng-app="dummy_ang_module" ng-controller="CodeController">
    <div class="top-part">
        <div class='header' style="color:darkgray;margin-bottom: 40px;">
          <h1 style="color:#777;margin-bottom: 2px;">Turbino</h1>
          -- Data Generator Turbine with Turbo --
        </div>
        <div class="options" >
          <!--<%= link_to "C", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C')"}  %>-->
          <%= link_to "SQL", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('SQL')"}  %>
          <!--<%= link_to "C++", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C++')"}  %>-->
          <%= link_to "C#", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C#')"}  %>
          <%= link_to "Obj-C", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Obj-C')"}  %>
          <!--<%= link_to "Pascal", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Pascal')"}  %>-->
          <%= link_to "Java", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Java')"}  %>
          <!--<%= link_to "Ruby", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Ruby')"}  %>-->
          <!--<%= link_to "Python", "", :class=>"option_language" , :data => {"ng-click" => "change_code_type('Python')"} %>-->
        </div>
    </div>

    <div class="top-part">
        <div class="code_structure" >
           <div>
            <%= link_to "Create your own class", "", "ng-click" => "new_class()"%>
             <div class="clear"></div>
                <div class="codemirror_container">
                <%= text_area_tag :text,
                  " public Class exampleClass \n
                  {\n
                    public string ArtistName {get; set;}\n
                    public string AlbumName {get; set; }\n
                    public int AlbumYear{get;set;}\n
                    public int TrackCount{get;set;}\n
                  }", rows:10, cols:97, :code_mirror => "C", :id => "mytextarea", "ng-model" => "raw_code" %>
                </div>
            </div>
           <div class="button_container">
             <%= button_tag "Generate","ng-click" => "generate_data()", :onClick => "$('.result_hidden').show()", :class=>"button_gray" %>
           </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="bottom-part">
        <div class="result_hidden">
            <div class="data_option">
              Data Count <%= text_field_tag "value",100 , :class => "data_count","ng-model" => "data_count_number" %>
              <ng-include class="field_option nav-collapse" src="'class_editor'"></ng-include>

              </div>
            </div>
            <div class="clear"></div>
            <div class="result_generated">
              <!--<div class="result_option">-->
                <!--| <%= link_to "Copy to clipboard", "" %> |-->
                <!--| <%= link_to "Download file", "" %> |-->
              <!--</div>-->
              <br>
              <div class="clear"> </div>
              <div class="results">
              <pre>{{dummy_data_for_user}}</pre>
              </div>
              <div class="button_container">
              <%= button_tag "Copy to Clipboard",:id=> "copyToClipboard",  :onClick => "$('pre').select()",
                             :class=>"button_gray","data-clipboard-target"=>"Copy Me!" %>
              <!--<%= button_tag  "Download", :onClick => "this.select()", :class=>"button_white" %>-->
              </div>
            </div>
       <div class="alert alert-info blue-alert" id="copyToClipboardInfo">
         <h4> Your clipboard updated </h4>
       </div>
       </div>



      <!--put the selection here-->
      <select style="display: none;" optionTheme="" >
        <% @theme.each do |key,value| %>
            <optgroup label="<%= key %>">
              <% value.each do |theme|%>
                  <option> <%= theme %> </option>
              <% end %>
            </optgroup>
        <%end%>
      </select>

    </div>
</div>
