<div ng-app="dummy_ang_module" ng-controller="CodeController">
    <div class="top-part">
        <div class='header'>
          Dummy Data Generator
        </div>
        <div class="options" >
          <%= link_to "C", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C')"}  %>
          <%= link_to "SQL", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('SQL')"}  %>
          <%= link_to "C++", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C++')"}  %>
          <%= link_to "C#", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('C#')"}  %>
          <%= link_to "Pascal", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Pascal')"}  %>
          <%= link_to "Java", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Java')"}  %>
          <%= link_to "Ruby", "", :class=>"option_language", :data => {"ng-click" => "change_code_type('Ruby')"}  %>
          <%= link_to "Python", "", :class=>"option_language" , :data => {"ng-click" => "change_code_type('Python')"} %>
        </div>
    </div>

    <div class="top-part">
        <div class="code_structure" >
           <div>
            <%= link_to "Create your own class", ""  %>
             <div class="clear"></div>
                <div class="codemirror_container">
                <%= text_area_tag :text,
                  " Class exampleClass()
                  {
                    string ArtistName;
                    string AlbumName;
                    Int AlbumYear;
                    Int TrackCount;
                  }
                   ", rows:10, cols:97, :code_mirror => "C", :id => "mytextarea" %>
                </div>
            </div>
           <div class="button_container">
             <%= button_tag "Generate","ng-click" => "generatedata()", :onClick => "alert('result show when this click');$('.result_hidden').show()", :class=>"button_gray" %>
           </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom-part">
        <div class="result_hidden">
        <div class="data_option">
          Data Count <%= text_field_tag "value",100 , :class => "data_count" %>
          <%= link_to "Close Option X", "",:class => "close_link","ng-click" => "givebacksomething()",
          "data-target-url" => "get_field" %>

          <div class="field_option nav-collapse" id="field_option">
            <ul ng-repeat="field in fields">
              <li>
                <span>{{field.name}} </span>
                <span> <%= text_field_tag "varchar","{{field.type}}" %> </span>
                <span> <%= text_field_tag "value","{{field.length}}" %> </span>
                <span> <%= text_field_tag "value","{{field.theme}}" %> </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <div class="result_generated">
          <!--<div class="result_option">-->
            <!--| <%= link_to "Copy to clipboard", "" %> |-->
            <!--| <%= link_to "Download file", "" %> |-->
          <!--</div>-->
          <br>
          <div class="clear"> </div>
          <div class="results">
          <pre>{{dummy_data_for_user}}</pre>
          </div>
          <div class="button_container">
          <%= button_tag "Copy to Clipboard", :onClick => "$('pre').select()", :class=>"button_gray" %>
          <%= button_tag "Download", :onClick => "this.select()", :class=>"button_white" %>
          </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
        //$(".result_hidden").hide();
    </script>